$color-primary-cyan: hsl(180, 66%, 49%);
$color-primay-dark-violet: hsl(257, 27%, 26%);

$color-secondary-red:hsl(0, 87%, 67%);
$color-neutral-gray: hsl(0, 0%, 75%);

$color-neutral-violet: hsl(257, 7%, 63%);
$color-very-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);


$font-primary: 'Poppins',
sans-serif;

